html {
	scroll-behavior: smooth;
	font-size: 100%;
}

body,
div,
p {
	margin: 0px 0px;
	font-family: "Josefin Sans", sans-serif;
}

.nav-bar {
	background-color: black;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	font-size: 1em;
	z-index: 1;
}

.nav-options {
	color: white;
	padding: 1vh 3vh;
	display: inline-block;
	text-decoration: none;
}

.nav-options:hover {
	color: #f4bf3a;
}

.home {
	/* background */
	background-image: url("../media/blurred-lights.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vmin;

	/* text */
	text-align: center;
	color: white;

	font-size: 15vmin;
	text-shadow: 4px 4px #0a192f;

	display: flex;
	justify-content: center;
	align-items: center;
}

.subtext {
	font-size: 6vmin;
	padding-top: 2vmin;
}

i {
	font-size: 5vmin;
	padding: 0 3vmin;
}

i:hover {
	color: #f4bf3a;
}

.icon-link {
	color: white;
	text-decoration: none;
}

.section-container {
	text-align: center;
	padding: 10vmin 0;
}

.dark-blue {
	background-color: #112240;
}

.light-blue {
	background-color: #374b6e;
}

.section-title {
	color: #f4bf3a;
	font-size: 1.1em;
	padding-bottom: 3vmin;
	text-shadow: 2px 2px black;
}

.line {
	border: 1.5px solid white;
	width: 25vmin;
	border-radius: 35%;
	margin-bottom: 4vmin;
	text-align: center;
}

.section-subtitle {
	color: white;
	font-size: 1.75em;
	padding-bottom: 3vmin;
}

.section-body {
	text-align: center;
	vertical-align: center;
	margin: 0 15%;
	position: relative;
}

.section-body::after {
	content: "";
	display: table;
	clear: both;
}

.headshot {
	width: 13%;
	min-width: 150px;
	min-height: 150px;
	border-radius: 50%;
	border: 6px double #f4bf3a;
	margin: 1vmin 3vmin 0 0;
	display: block;
}

.section-text {
	text-align: left;
	font-size: 1.3em;
	color: #a6abbd;
	padding: 3vmin 3vmin;
}

.section-alt {
	width: 45%;
	display: inline-block;
	padding-top: 7vmin;
	font-size: 1em;
	text-align: center;
}

.section-alt-title {
	color: #00ad90;
	font-size: 1.1em;
	margin-bottom: 3vmin;
	text-shadow: 2px 2px black;
}

.left {
	float: left;
}

.right {
	float: right;
}

table {
	margin: 0 auto;
}

progress {
	float: right;
	height: 30px;
	width: 100%;
	position: relative;
}

#python-bar::before {
	position: relative;
	content: "70%";
	color: white;
	top: 8px;
}

#javascript-bar::before {
	position: relative;
	content: "80%";
	color: white;
	top: 8px;
}

#java-bar::before {
	position: relative;
	content: "90%";
	color: white;
	top: 8px;
}

#wd-bar::before {
	position: relative;
	content: "60%";
	color: white;
	top: 8px;
}

table.language {
	width: 100%;
	border-spacing: 0 35px;
}

.language-cell {
	text-align: right;
	font-size: 1.3em;
	color: #a6abbd;
	width: 30%;
	padding-right: 5%;
}

ul {
	padding: 0;
}

li {
	margin-bottom: 20px;
}

td.section-text {
	width: 50%;
}
