html {
	scroll-behavior: smooth;
	font-size: 100%;
}

body,
div,
p {
	margin: 0px 0px;
	font-family: "Josefin Sans", sans-serif;
}

.nav-bar {
	background-color: black;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	font-size: 1em;
	z-index: 1;
}

.nav-options {
	color: white;
	padding: 1vh 3vh;
	display: inline-block;
	text-decoration: none;
}

.nav-options:hover {
	color: #f4bf3a;
}

.home {
	/* background */
	background-image: url("../media/blurred-lights.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vmin;

	/* text */
	text-align: center;
	color: white;

	font-size: 15vmin;
	text-shadow: 2px 2px #0a192f;

	display: flex;
	justify-content: center;
	align-items: center;
}

.name {
	text-shadow: 4px 4px #0a192f;
}

.subtext {
	font-size: 6vmin;
	padding-top: 2vmin;
}

i {
	font-size: 5vmin;
	padding: 0 3vmin;
}

i:hover {
	color: #f4bf3a;
}

.icon-link {
	color: white;
	text-decoration: none;
}

.section-container {
	text-align: center;
	padding: 10vmin 0;
}

.dark-blue {
	background-color: #112240;
}

.light-blue {
	background-color: #374b6e;
}

.section-title {
	color: #f4bf3a;
	font-size: 1.1em;
	padding-bottom: 3vmin;
	text-shadow: 2px 2px black;
}

.line {
	border: 1.5px solid white;
	width: 25vmin;
	border-radius: 35%;
	margin-bottom: 4vmin;
	text-align: center;
	background-color: white;
}

.section-subtitle {
	color: white;
	font-size: 1.75em;
	padding-bottom: 3vmin;
}

.section-body {
	text-align: center;
	vertical-align: center;
	margin: 0 15%;
	position: relative;
}

.section-body::after {
	content: "";
	display: table;
	clear: both;
}

.headshot {
	border-radius: 50%;
	border: 6px double #f4bf3a;
	width: 90%;
}

.section-text {
	text-align: left;
	font-size: 1.3em;
	color: #a6abbd;
}

.section-alt {
	margin-top: 7vmin;
	border: 1px solid yellow;
}

.section-alt-title {
	color: #00ad90;
	font-size: 1.1em;
	margin-bottom: 3vmin;
	text-shadow: 2px 2px black;
}

.left {
	float: left;
}

.right {
	float: right;
}

.job-title {
	text-align: right;
	border-right: 3px solid #a6abbd;
	font-size: 1.75em;
	color: white;
}

.company {
	font-size: 1.75em;
	color: white;
	margin: 0;
	padding: 0;
}

.job-description {
	text-align: left;
}

.job-title::after {
	content: "";
	position: absolute;
	border: 2px solid white;
	width: 18px;
	height: 18px;
	background-color: #00ad90;
	border-radius: 50%;
	top: 20px;
	right: -11px;
}

.exp-date {
	color: #a6abbd;
	padding: 0;
	margin: 0;
}

.col-padding {
	padding: 10px 15px;
}

.fa-external-link-alt {
	margin: 0;
	padding: 0 5px;
	font-size: 0.4em;
}
